@charset "utf-8";

/* About */
* {
    margin: 0;
    padding: 0;
}

.main-nav {
    display: flex;
    font-size: 1.7rem;
    margin-top: 0;
    list-style: none;
    justify-content: flex-end;
    font-family: "Impact";
}

.main-nav li {
    margin-left: 36px;
    margin-top: 30px;
}

.main-nav a {
    color: white;
    text-decoration: none;
}

.main-nav a:hover {
    color: rgb(0, 0, 0);
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 0;
}


/* .sec-1__detail {
    background-image: url(../images/Portfolio_about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
} */

.sec-1 {
    background-attachment: fixed;
    background-image: url(../images/NYC_forPortrait111.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 0;
    max-width: 100%;
}

.sec-1::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: inherit;
    filter: blur(5px);
}



.sec-1__detail {
    text-align: left;
    color: white;
    text-shadow: 0 0 100px #333;
    line-height: 2.5rem;
}

.sec-1__detail p {
    font-family: "UD デジタル 教科書体 NP-R";
    margin-left: 10%;
    margin-top: 2%;
    width: 60%;
}

.sec-1__detail_flex {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.mh {
    width: 50%;
}

.sec-1__h2_1 p {
    font-size: 8rem;
    font-family: "Impact";
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    margin-left: 3%;
}



/* .sec-1__h2_1 img {
    width: 30%;
    display: block;
    position: left;
    margin-top: 10px;
    margin-left: 50px;
} */

.sec-1__h2_2 p {
    font-size: 8rem;
    font-family: "Impact";
    text-transform: uppercase;
    color: white;
    display: inline-block;
    margin-left: 50%;
    margin-top: 3%;
}

/* .sec-1__h2_2 img {
    width: 50%;
    margin-top: 45px;
    padding-left: 47%;
    margin-right: 1530px;
} */

.sec-2__flex p {
    font-family: "UD デジタル 教科書体 NP-R";
    color: white;
    line-height: 2.5rem;
}

.sec-2__flex {
    display: block;
    margin-left: 20%;
}

.sec-2__flexdetail {
    display: flex;
    justify-content: left;
    text-align: left;
    margin-top: 5%;
}

.sec-2__flex img {
    width: 300px;
    height: auto;
    margin-left: 80px;
}

.sec-2__explain {
    display: block;
    width: 500px;
}

.sec-3__h2_3 {
    font-size: 8rem;
    font-family: "Impact";
    text-transform: uppercase;
    color: white;
    display: inline-block;
    margin-top: 4%;
    margin-left: 40%;
    margin-bottom: 3%;
}

.sec-3__explain p {
    font-family: "Impact";
    color: white;
    line-height: 2.5rem;
    width: 30%;
    margin-left: 35%;
    text-align: center;
}

.sec-3__explain {
    margin-bottom: 3%;
}

.live {
    width: 40%;
    height: auto;
    display: contain;
    margin: 1%;
    
}

.livephoto-flex {
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-left: 30%;
}

/* トップへ戻るボタン */
h2{
    text-align: center;
    margin-bottom: 30px;
  }
  #page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    margin-right: 20px;
    bottom: 50px;
    background: #8d2b04;
    opacity: 1;
    border-radius: 50%;
    box-shadow: 1px 10px 25px 1px rgba(252, 252, 252, 0.5);
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

footer {
    text-align: center;
    width: 100%;
    background: #000;
    color: white;
}

/* -------レスポンシブ------- */
  @media (max-width: 600px) {

    .main-nav {
        display: block;
        width: 50%;
    }

    /*　ハンバーガーボタン　*/



.hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 15%;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    width: 100%;
  }
  
  nav.globalMenuSp ul {
    background: #ccc;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
    text-decoration :none;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    transform: translateX(0%);
  }

  /* ↑---ハンバーガーここまで---↑ */

    .sec-1__h2_1 p,
    .sec-1__h2_2 p,
    .sec-3__h2_3 p {
        font-size: 50pt;
    }

    .sec-1__h2_1,
    .sec-1__h2_2,
    .sec-3__h2_3 {
        margin-bottom: 5%;
    }

    .sec-1__detail {
        margin-bottom: 15%;
    }

    .sec-1__h2_2 {
        margin-left: -20%;
    }

    .sec-1__detail_flex {
        width: 100%;
    }

    .sec-1__detail_flex p,
    .sec-2__flex p {
        font-size: 10pt;
        line-height: 1.2rem;
        margin: 0;
    }

    .sec-1__detail_flex img {
        margin-left: 10%;
    }

    .sec-2__flex {
        margin: 0;
    }

    .sec-2__flexdetail {
        margin-top: 10%;
    }

    .sec-2__flexdetail img {
        margin: 0;
        margin-left: 20%;
        width: 70%;
        margin-top: 10%;
    }

    .sec-2__explain p {
        width: 300px;
        margin: 10%;
    }

    .sec-3__explain p {
        text-align: center;
        width: 80%;
        margin: 0;
        margin-left: 10%;
        font-size: 10pt;
        line-height: 2rem;
    }

    .sec-3 img {
        width: 100%;
        display: block;
        padding-bottom: 10%;
        
    }

    .livephoto-flex {
        display: block;
        margin: 0;
        padding: 5%;
    }
    
  }


  @media (max-width: 375px) {
      .sec-2__flexdetail {
          display: block;
          padding-bottom: 20%;
      }


    .sec-2__flexdetail img {
        width: 100%;
        margin: auto;
    }
  }
