@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.main-nav {
    display: flex;
    font-size: 1.7rem;
    margin-top: 0;
    list-style: none;
    justify-content: flex-end;
    font-family: "Impact";
}

.main-nav li {
    margin-left: 36px;
    margin-top: 30px;
}

.main-nav a {
    color: black;
    text-decoration: none;
}

.main-nav a:hover {
    color: rgb(255, 255, 255);
}

.wrapper {
    min-width: 1100px;
    margin: 0 auto;
    padding: 0 11%;
    margin-top: 0;
}

/* contact */

#top {
    background-image: url(../images/usa-1777986_1920.jpg);
    min-height: 100vh;
    padding-bottom: 5%;
    background-position: top;
}


.contact-wrapper p{
    font-family: "UD デジタル 教科書体 NP-R";
}

.contactlogo {
    font-size: 9rem;
    font-family: "Impact";
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: black;
}

.contact__detail {
    background-color: rgba(255,255,255,0.8);
    width: 60%;
    padding: 3%;
    display: block;
    margin-left: 7%;
    text-align: left;
    line-height: 1.5rem;
    margin-left: 17%;
}

.contact__detail p {
    text-align: center;
    line-height: 2rem;
    margin: 2%;
}

form div {
    margin-bottom: 16px;
}



label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background: white;
    border: 1px rgb(182, 180, 180) solid;
    border-radius: 2px;
    padding: 3px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    max-width: 340px;
    height: 30px;
}

textarea {
    min-width: 100%;
    height: 10rem;
}

input[type="submit"] {
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    line-height: 1;
    border: 1px rgb(182, 180, 180) solid;
}

.required {
    margin-left: 10px;
    padding: 1px 3px;
    background-color: rgb(187, 53, 53);
    font-size: 10px;
    color: #fff;
    border-radius: 2px;
}

/* トップへ戻るボタン */
h2{
    text-align: center;
    margin-bottom: 30px;
  }
  #page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    margin-right: 20px;
    bottom: 50px;
    background: #fdfdfd;
    opacity: 1;
    border-radius: 50%;
    box-shadow: 1px 10px 25px 1px rgba(252, 252, 252, 0.5);
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: rgb(5, 5, 5);
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

footer {
    text-align: center;
    width: 100%;
    background: #000;
    color: white;
}

/* -----レスポンシブ----- */
@media (max-width: 600px) {

/*　ハンバーガーボタン　*/

.main-nav {
    display: block;
}

.hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 4%;
    top   : 12px;
    width : 70px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    width: 100%;
  }
  
  nav.globalMenuSp ul {
    background: #ccc;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
    text-decoration :none;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    transform: translateX(0%);
  }

  /* ↑---ハンバーガーここまで---↑ */

    #top {
        background-size: cover;
        min-height: auto;
    }

    .contactlogo {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-top: 10%;
        font-size: 6rem;
    }

    #message {
        min-width: 100%;
    }
}
