@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.main-nav {
    display: flex;
    font-size: 1.7rem;
    margin-top: 0;
    list-style: none;
    justify-content: flex-end;
    font-family: "Impact";
}

.main-nav li {
    margin-left: 36px;
    margin-top: 30px;
}

.main-nav a {
    color: black;
    text-decoration: none;
}

.main-nav a:hover {
    color: rgb(255, 255, 255);
} 

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 0;
}

.top-wrapper {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#top {
    background-image: url(../images/NYC_top代表.jpg);
    min-height: 100vh;

}

footer {
    text-align: center;
    width: 100%;
    background: #000;
    color: white;
}



@media (max-width: 600px) {
    .main-nav {
        display: block;
    }
    #top {
        background-image: url(../images/Portfolio_top_phone3.png);
        background-size: relative;
        height: auto;
        width: auto;
    }

    li {
        font-size: 12pt;
    }

    /* ハンバーガーメニュー */
/*　ハンバーガーボタン　*/



.hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 5%;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    width: 100%;
  }
  
  nav.globalMenuSp ul {
    background: #ccc;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
    text-decoration :none;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    transform: translateX(0%);
  }

}

/* -----レスポンシブ----- */
@media (max-width: 768px) {
    #top {
        background-image: url(../images/Portfolio_top_phone4.png);
    }
}

@media (max-width: 600px) {
    #top {
        background-image: url(../images/Portfolio_top_phone2.png);
    }
}

@media (max-width: 375px) {
    #top {
        background-image: url(../images/Portfolio_top_phone2.png);
        background-size: relative;
        height: 100%;
        width: 100%;
    }
}
