@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.main-nav {
    display: flex;
    font-size: 1.7rem;
    margin-top: 0;
    list-style: none;
    justify-content: flex-end;
    font-family: "Impact";
}

.main-nav li {
    margin-left: 36px;
    margin-top: 30px;
}

.main-nav a {
    color: #5f0f0f;
    text-decoration: none;
}

.main-nav a:hover {
    color: rgb(255, 164, 89);
}

.wrapper {
    min-width: 1100px;
    margin: 0 auto;
    padding: 0 11%;
    margin-top: 0;
}


/* Works */

body {
    background-attachment: fixed;
    background-image: url(../images/Ricardo&tomm.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 0;
    max-width: 100%;
    padding-bottom: 10%;
}

body::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: inherit;
    filter: blur(3px);
}

.worklogo p {
    font-size: 9rem;
    font-family: "Impact";
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
    margin-left: 3%;
    color: #5f0f0f;
    text-shadow: 1px 2px 3px #ffffff;
}

.sec-1 {
    margin-top: 5%;
    margin-left: 20px;
    display: inline-block;
    width: auto;
}



h3 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
}


.sec-2_works img {
    width: 350px;
    box-shadow: 8px 8px #789be6;
    margin-left: 5%;
    margin-top: 20px;
}

.sec-2_works__flex {
    display: flex;
    display: inline-block;
    width: 100%;
    height: auto;
}

/* トップへ戻るボタン */
h2{
    text-align: center;
    margin-bottom: 30px;
  }
  #page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    margin-right: 20px;
    bottom: 50px;
    background: #5a1003;
    opacity: 1;
    border-radius: 50%;
    box-shadow: 1px 10px 25px 1px rgba(252, 252, 252, 0.5);
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

  /* 画像ギャラリー */
/*==================================================
ギャラリーのためのcss
===================================*/
.gallery{
    columns: 4;/*段組みの数*/
    padding:0 35px;/*ギャラリー左右に余白をつける*/
    margin: 0 auto;
    
    }
    
    .gallery li {
        margin-bottom: 20px;/*各画像下に余白をつける*/
    list-style:none;
    }
    
    /*ギャラリー内のイメージは横幅100%にする*/
    .gallery img{
        width:100%;
        height:auto;
        vertical-align: bottom;/*画像の下にできる余白を削除*/
    }
    
    /*　横幅900px以下の段組み設定　*/
    @media only screen and (max-width: 900px) {
        .gallery{
        columns:3;
        }	
    }
    
    @media only screen and (max-width: 768px) {
        .gallery{
        columns: 2;
        }
    }


/* -----レスポンシブ----- */
@media (max-width: 600px) {

/*　ハンバーガーボタン　*/

.main-nav {
    display: block;
}

.hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 15%;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    width: 100%;
  }
  
  nav.globalMenuSp ul {
    background: #ccc;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
    text-decoration :none;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    transform: translateX(0%);
  }

  /* ↑---ハンバーガーここまで---↑ */
    
    .sec-2_works {
        margin-top: 10%;
    }

    .worklogo {
        padding-top: 10%;
    }
}

@media (max-width: 480px) {
    .worklogo {
        text-align: center;
        width: 100%;
    }

    body {
        background-position: right right;
        background-size: cover;
    }
}
