@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.main-nav {
    display: flex;
    font-size: 1.7rem;
    margin-top: 0;
    list-style: none;
    justify-content: flex-end;
    font-family: "Impact";
}

.main-nav li {
    margin-left: 36px;
    margin-top: 30px;
}

.main-nav a {
    color: black;
    text-decoration: none;
}

.main-nav a:hover {
    color: rgb(255, 255, 255);
}

.wrapper {
    min-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
    margin-top: 0;
}

.top-wrapper {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#top {
    background-image: url(../images/NYC_top代表.jpg);
    min-height: 100vh;

}
